### Files not to be commited ###

# Data files
*.geojson
*.csv
*.gpkg
*.qgz

# ML runs
mlruns/

#Python cached stuff
__pycache__/
.ipynb_checkpoints/

# Cadastral images
/data/cadastralExportRGB

# Folders with models dumped and reports
/reports
/models
